
.bet_post {
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: 1em;
    height: auto;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.bet_post .sport_logo {
    height: 20px;
    margin-right: 0.3em;
}
.bet_post .entry-title {
    font-size: 1.2em;
}
.bet_post .entry-meta{
    margin-top: 1em;
}
.bet_post .posted-on{
    font-style: italic;
}

