body{
    background-color: #F5F5F5;
    font-family: 'Roboto-regular';
}
.center {
    margin: 0 auto;
}
.btn-yellow {
    color: black;
    background-color: #ffe71f;
    border-color: #ffe71f;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 0;
}

.btn-yellow:hover {
    color: black;
    background-color: #FFEA45;
    border-color: #FFEA45;
    box-shadow: none;
}
/*========================== POLICES ========================== */
.section-title {
    text-align: center;
    font-size: 2em;
    font-weight: 300;
    margin-bottom: 1em;
    margin-top: 1em;
    color: #404040;
}
@font-face {
    font-family: 'Poiret';
    src: url(../fonts/PoiretOne-Regular.ttf)
}

@font-face {
    font-family: 'Roboto-regular';
    src: url(../fonts/Roboto-Regular.ttf)
}

@font-face {
    font-family: 'Roboto-light';
    src: url(../fonts/Roboto-Light.ttf)
}

@font-face {
    font-family: 'Roboto-bold';
    src: url(../fonts/Roboto-Bold.ttf)
}

@font-face {
    font-family: 'Roboto-italic';
    src: url(../fonts/Roboto-Italic.ttf)
}
