

#home_lastbets .table thead th {
    vertical-align: bottom;
    font-size: 0.8em;
    font-family: 'Opensans-bold';
    color: #36322f;
    border-bottom: 2px solid #dee2e6;
}
#home_lastbets .table tbody {
    font-size: 0.8em;
    font-family: 'Opensans-bold';
    color: #36322f;
}
#home_lastbets .img-result {
    height: 25px;
}
img.sport_logo {
    height: 20px;
}