#whychoose img {
    max-height: 120px;
    margin-bottom: 0.5em;
}
#whychoose img {
    max-height: 120px;
    margin-bottom: 0.5em;
}

#whychoose .bloc {
    margin: 0 auto;
    text-align: center;
}

#whychoose .btn {
    margin: 0 auto;
}